body {
  background-color: #c0c0c0;

  padding: 10px;
  
  border-top: solid 3px #ffffff;
  border-left: solid 3px #ffffff;
  border-right: solid 3px #808080;
  border-bottom: solid 3px #808080;
  font-family: "MS PGothic", "MS Gothic", sans-serif;
}

h1 {
  background-color: #008;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 3px;
  color: #fff;
}

html {
  background-color: #008080;
  padding: 10px;
  height: 100%;
}

.content {
  background-color: #ffffff;
  padding: 15px;
  
  border-top: solid 2px #808080;
  border-left: solid 2px #808080;
  border-right: solid 2px #ffffff;
  border-bottom: solid 2px #ffffff;
}
