body {
  background-color: #888;          /* 1. background-color に修正 / 末尾をセミコロン ; に変更 */
  border-top: solid 3px #fff;      /* 末尾を ; に変更 */
  border-left: solid 3px #fff;     /* 末尾を ; に変更 */
  border-right: solid 3px #000;    /* 末尾を ; に変更 */
  border-bottom: solid 3px #000;   /* 2. border-bottom のタイポを修正 / 末尾を ; に変更 */
}

h1 {
  background-color: #00f;          /* background-color に修正 */
}

p {
  background-color: #fff;          /* background-color に修正 */
}
